.heading {
  color: var(--textLight);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: var(--fontWeightMedium);
  margin-bottom: var(--spaceXL);

  @media (--mediaTablet) {
    margin-bottom: var(--spaceL);
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  width: 100%;
  max-width: 420px;
  height: auto;

  @media (--mediaTablet) {
    max-width: 320px;
  }

  @media (--mediaMobile) {
    max-width: 260px;
  }
}
